.container{

    .view-center{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-info{
            font-family: "Bosch_Sans_Bold";
            font-size: 30px;
            text-align: center;
            color: var(--green)
        }

    }


}